.container-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .submit-button {
    font-family: "Prompt", sans-serif;
    font-size: 24px;

    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    background-color: #6c5ce7;
    color: #fff;
  }
  .submit-button:hover {
    background-color: #00d9aa;
  }

  .accept-toggle-container {
    font-weight: bold;
    font-size: 24px;
    color: #5c5c5c;

    margin-top: 60px;
    width: 580px;
    height: 180px;
    display: grid;
    justify-content: center;
    align-content: space-around;

    .accept-toggle-box {
      display: grid;
      grid-template-columns: 120px 420px auto;

      h {
        text-align: left;
        padding-left: 20px;
        display: grid;
        align-items: center;
      }
    }
  }

  .react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    svg {
      width: 150%;
      height: 150%;
    }
  }

  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }

  .react-toggle-track {
    width: 120px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    border-radius: 30px;
    background-color: #cfcfcf9e;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #2f2f2fbb;
  }

  .react-toggle--checked .react-toggle-track {
    background-color: #5de584;
  }

  .react-toggle--checked:hover:not(.react-toggle--disabled)
    .react-toggle-track {
    background-color: #5de584;
  }

  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 20px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }

  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8a8a8a;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .react-toggle--checked .react-toggle-thumb {
    left: 75px;
    background-color: #00b894;
  }
}
