.header-with-icon {
  position: relative;
  height: 370px;

  div {
    width: 100%;
  }

  .header-icon {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 20%;
    right: 15%;
  }

  .title-box {
    position: absolute;
    top: 20%;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5%;
    .title-1 {
      padding-left: 5%;
      font-size: 80px;
    }
    .title-2 {
      padding-left: 15%;
      font-size: 50px;
    }
  }
}
