.info-card {
  margin-top: 20% !important;
  width: 680px !important;
  height: 298px !important;
  .form-enter-pin input {
    border-radius: 10px;
    width: 555px;
    height: 70px;
    border: none;
    font-size: 36px;
    text-align: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .exam-button button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 555px;
    height: 70px;
    border: none;
    border-radius: 10px;
  }
}
