.modal {
  position: sticky !important;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  -webkit-box-shadow: 0 8px 6px 1000px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 6px 1000px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 6px 1000px rgba(0, 0, 0, 0.3);
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 500px;
  height: max-content;
  border-radius: 16px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header {
  background-color: #fff;
}

.modal-title {
  margin: 0;
  padding-top: 26px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 30px;
  word-break: break-all;
}

.modal-body {
  padding: 30px;
  background-color: #fff;
  word-break: break-all;
}
.modal-footer {
  padding: 8px;
  background-color: rgb(131, 131, 131);
  height: 75px;
}

.button-submit {
  margin: 10px;
  float: right;
}
.button-cancel {
  margin: 10px;
  float: left;
}