.custom-selected-animation {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 30px;
  min-height: 450px;

  background-color: #c4c4c462;

  .MuiTabs-indicator {
    border-radius: 20px;
    height: 50px !important;

    background-color: #3a3dff62;
  }

  .MuiTab-root {
    font-size: 20px;
    z-index: 100;

    color: #6c5ce7;
  }

  .react-swipeable-view-container {
    width: 0px;
    display: inline-block;
  }

  .MuiAppBar-root {
    border-radius: 20px;
  }
}
