.header {
  position        : fixed;
  height          : 70px;
  left            : 0px;
  right           : 0px;
  top             : 0px;
  background-color: #000000b2;
  filter          : drop-shadow(0px 2px 4px rgba(5, 5, 5, 0.16)) drop-shadow(0px 4px 8px rgba(21, 24, 26, 0.08));
  z-index         : 1000;

  background-image   : url("../../assets/image/center-line-student.svg");
  background-repeat  : no-repeat;
  background-position: center 100%;
  background-size    : 100% 80vh;

  &.header-content {
    display              : grid;
    align-items          : center;
    justify-items        : center;
    grid-template-columns: 25% max-content 25%;
    justify-content      : space-between;

    .logo-title {
      display        : flex;
      flex-direction : row-reverse;
      align-items    : center;
      justify-content: flex-end;
      margin-left    : 50px;
      cursor         : pointer;

      .header-title {
        font-size  : 1.2rem;
        font-weight: bold;
        color      : #ffffff;
      }

      .logo {
        height      : 40px;
        margin-right: 10px;
      }
    }


    .profile {
      display     : flex;
      align-items : center;
      justify-self: end;
      margin-right: 50px;
      cursor      : pointer;

      p {
        font-size: 1.2rem;
        color    : #ffffff;
        padding  : 20px;
      }

      .MuiAvatar-root {
        &.student {
          background-color: #007569ea;
        }

        &.teacher {
          background-color: #64FF;
        }
      }
    }
  }
}

.menu-header {

  hr {
    background-color: #00f0d8ea;
  }

  .MuiListItemIcon-root {
    color: #00e0caea;
  }

  .MuiPaper-root {
    background-color: #2c2c2c;
    color           : #00e0caea;
  }

  .Mui-disabled {
    color      : #00bba8ea;
    opacity    : 1 !important;
    font-size  : 1.2rem;
    font-weight: bold;
  }
}

.focusable {
  cursor: pointer;
}