.button-group {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;

  .student {
    background-color: #007569;
  }

  .student:hover {
    background-color: #004e46;
  }

  .teacher {
    background-color: #6c5ce7;
  }

  .teacher:hover {
    background-color: #4c419e;
  }

  p {
    font-size: 50px;
  }

  button {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
