.button-group {
  padding-top          : 50px;
  padding-bottom       : 50px;
  display              : grid;
  grid-template-columns: auto auto;
  justify-content      : center;

  .student {
    background-color: #007569ea;
  }

  .student:hover {
    background-color: #004e46;
  }

  .teacher {
    background-color: #6c5ce7ea;
  }

  .teacher:hover {
    background-color: #4c419e;
  }

  img {
    height: 80%;
  }

  p {
    font-size  : 50px;
    margin-left: 20px;
  }

  button {
    margin-left   : 20px;
    margin-right  : 20px;
    border-radius : 30px;
    width         : 100%;
    display       : flex;
    flex-direction: column;
  }
}

.button-group-student {
  display        : flex;
  justify-content: center;
  margin-bottom  : 50px;

  .MuiButton-root {
    max-width       : 50%;
    margin-top      : 50px;
    border-radius   : 30px;
    width           : 100%;
    display         : flex;
    flex-direction  : row;
    background-color: #007569ea;

    p {
      font-size: 50px;
    }
  }

  .MuiButton-root:hover {
    background-color: #004e46;
  }
}

.button-group-teacher {
  display        : flex;
  justify-content: center;
  margin-bottom  : 50px;

  .MuiButton-root {
    max-width       : 50%;
    margin-top      : 50px;
    border-radius   : 30px;
    width           : 100%;
    display         : flex;
    flex-direction  : row;
    background-color: #6c5ce7ea;

    p {
      font-size: 50px;
    }
  }

  .MuiButton-root:hover {
    background-color: #4c419e;
  }
}