@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;800&display=swap");

html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100vh;
  width: 100%;
  overflow-y: scroll !important;
  background-color: #4e4e53;
  background-image: url("./assets/icons/header-bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 250%;
  background-position-y: 100%;
  background-size: 80%;
}

div {
  width: 100%;
}

.App {
  text-align: center;
  font-family: "Sarabun" !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4e4e53;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff25;
  border-radius: 30px;
  box-shadow: inset 4.7px 10px 25px -5px #f0f0f03a;
}
